In [1]:
import pandas as pd
data = pd.read_csv('Toyota.csv',index_col=0)
print(data.head())
print(data.tail())

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170
      Price   Age     KM FuelType   HP  MetColor  Automatic    CC Doors  \
1431   7500   NaN  20544   Petrol   86       1.0          0  1300     3
1432  10845  72.0     ??   Petrol   86       0.0          0  1300     3
1433   8500   NaN  17016   Petrol   86       0.0          0  1300     3
1434   7250  70.0     ??      NaN   86       1.0          0  1300     3
1435   6950  76.0      1   Petrol  110       0.0          0  1600     5

      Weight
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

In [2]:
import pandas as pd
data = pd.read_csv('Toyota.csv',index_col=0)
print('Column labels:',data.columns)
print('Size of the dataset:',data.size)
print('Shape of the dataset:',data.shape)
print('Data type of columns:\n',data.dtypes)

Column labels: Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')
Size of the dataset: 14360
Shape of the dataset: (1436, 10)
Data type of columns:
 Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [3]:
import pandas as pd
data = pd.read_csv('Toyota.csv',index_col=0)
e = pd.unique(data['Doors'])
print('Unique values in the variable, Doors:',e)
data['Doors'].replace('three',3,inplace=True)
data['Doors'].replace('four',4,inplace=True)
data['Doors'].replace('five',5,inplace=True)
f = pd.unique(data['Doors'])
print('Unique values in the variable, Doors after replacing:',f)

Unique values in the variable, Doors: ['three' '3' '5' '4' 'four' 'five' '2']
Unique values in the variable, Doors after replacing: [3 '3' '5' '4' 4 5 '2']

In [4]:
print('Original Datatype of the variable Doors:',data['Doors'].dtype)
data['Doors']=data['Doors'].astype('int64')
print('New Datatype of the variable Doors:',data['Doors'].dtype)

Original Datatype of the variable Doors: object
New Datatype of the variable Doors: int64

In [6]:
data.insert(10,'PRange','')
print(data.columns)
for i in range(0,len(data['Price'])):
  if (data['Price'][i]<=8450):
    data['PRange'][i]='Low'
  elif ((data['Price'][i]>11950)):
    data['PRange'][i]='High'
  else:
    data['PRange'][i]='Medium'
f = pd.unique(data['PRange'])
print('Unique values in the variable, PRange:',f)

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight', 'PRange'],
      dtype='object')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

Unique values in the variable, PRange: ['High' 'Low' 'Medium']

In [7]:
import pandas as pd
countries = {'Country':['Spain', 'France', 'Spain', 'Germany', 'France']}
df = pd.DataFrame(countries)
y = pd.get_dummies(df)
print('Data:\n',df)
print('Data after One-Hot encoding:\n',y)
df['Country'].replace('France',0,inplace=True)
df['Country'].replace('Germany',1,inplace=True)
df['Country'].replace('Spain',2,inplace=True)
print('Data after Label encoding:\n',df)

Data:
    Country
0    Spain
1   France
2    Spain
3  Germany
4   France
Data after One-Hot encoding:
    Country_France  Country_Germany  Country_Spain
0               0                0              1
1               1                0              0
2               0                0              1
3               0                1              0
4               1                0              0
Data after Label encoding:
    Country
0        2
1        0
2        2
3        1
4        0

In [8]:
import pandas as pd
df = pd.DataFrame([[180000, 110, 18.9, 1400],
[360000, 905, 23.4, 1800],
[230000, 230, 14.0, 1300],
[60000, 450, 13.5, 1500]],
columns=['Col A', 'Col B',
'Col C', 'Col D'])
# view data
print('Original Data:\n')

Original Data:

In [9]:
display(df)
df_min_max_scaled = df.copy()
# apply normalization techniques
for column in df_min_max_scaled.columns:
  df_min_max_scaled[column] = (df_min_max_scaled[column] -
df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() -
df_min_max_scaled[column].min())
print('Normalized data:\n')
display(df_min_max_scaled)

    Col A  Col B  Col C  Col D
0  180000    110   18.9   1400
1  360000    905   23.4   1800
2  230000    230   14.0   1300
3   60000    450   13.5   1500

Normalized data:

      Col A     Col B     Col C  Col D
0  0.400000  0.000000  0.545455    0.2
1  1.000000  1.000000  1.000000    1.0
2  0.566667  0.150943  0.050505    0.0
3  0.000000  0.427673  0.000000    0.4