In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score

path = '/content/housedata.csv'
data = pd.read_csv(path)

print(data.head())
data.drop(['id'],axis=1)
data.dropna(axis=0,inplace=True)
print('Null entries after dropping NA values:',data.isnull().sum())
clist = list(data.columns)
features=list(set(clist)-set(['price']))
print('Features:\n',features)
x = data[features].values
y = data['price'].values
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.25,random_state=2)
modell = LinearRegression()
modell.fit(train_x,train_y)
prediction = modell.predict(test_x)
print('MODEL EVALUATION:')
mse = mean_squared_error(test_y, prediction)
print('RMSE:', np.sqrt(mse))
print("R2 : ", r2_score(test_y, prediction))
print("MAE :", mean_absolute_error(test_y, prediction))

           id  date     price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  7129300520  2014  221900.0         3       1.00         1180      5650
1  6414100192  2014  538000.0         3       2.25         2570      7242
2  5631500400  2015  180000.0         2       1.00          770     10000
3  2487200875  2014  604000.0         4       3.00         1960      5000
4  1954400510  2015  510000.0         3       2.00         1680      8080

   floors  waterfront  view  ...  grade  sqft_above  sqft_basement  yr_built  \
0     1.0           0     0  ...      7        1180              0      1955
1     2.0           0     0  ...      7        2170            400      1951
2     1.0           0     0  ...      6         770              0      1933
3     1.0           0     0  ...      7        1050            910      1965
4     1.0           0     0  ...      8        1680              0      1987

   yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
0             0    98178  47.5112 -122.257           1340        5650
1          1991    98125  47.7210 -122.319           1690        7639
2             0    98028  47.7379 -122.233           2720        8062
3             0    98136  47.5208 -122.393           1360        5000
4             0    98074  47.6168 -122.045           1800        7503

[5 rows x 21 columns]
Null entries after dropping NA values: id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64
Features:
 ['grade', 'bedrooms', 'zipcode', 'condition', 'sqft_living', 'yr_built', 'sqft_basement', 'view', 'sqft_lot15', 'bathrooms', 'floors', 'sqft_lot', 'long', 'lat', 'waterfront', 'sqft_living15', 'yr_renovated', 'id', 'date', 'sqft_above']
MODEL EVALUATION:
RMSE: 207993.7348818954
R2 :  0.7075076638198445
MAE : 126907.75204004538